# Bytecode
__pycache__/
*.py[cod]

# SQLite DB
db.sqlite3

# Env files
.env
*.env

# Migrations (optional)
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo

# Static/media (optional - if not tracking)
staticfiles/
media/

# IDE/editor configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Virtual environments
venv/
env/
