{% extends 'hrapp/base.html' %}

{% block title %}Your Profile{% endblock %}

{% block content %}
<div class="container">
    <div class="profile-container bg-white p-4 rounded shadow-sm">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h3>Your Profile</h3>
            <a class="btn btn-sm btn-outline-primary" href="{% url 'dashboard' %}">← Back to Dashboard</a>
        </div>

        <!-- Display Current Data -->
        <div class="profile-summary bg-light p-3 rounded mb-4">
            {% if profile.profile_image %}
                <div class="mb-3">
                      <img src="{{ profile.profile_image.url }}" width="100" height="100" class="rounded-circle border">
                 </div>
            {% endif %}
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Phone:</strong> {{ hr.phone }}</p>
            <p><strong>Company:</strong> {{ hr.company }}</p>
        </div>

        <!-- Profile Update Form -->
        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}
            <div class="form-group">
                <label for="name">Update Username:</label>
                <input type="text" class="form-control" id="name" name="username" value="{{ user.username }}">
            </div>

            <div class="form-group">
                <label for="email">Update Email Address:</label>
                <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
            </div>

            <div class="form-group">
                <label for="phone">Update Phone Number:</label>
                <input type="tel" class="form-control" id="phone" name="phone" value="{{ hr.phone }}">
            </div>

            <div class="form-group">
                <label for="company">Update Company Name:</label>
                <input type="text" class="form-control" id="company" name="company" value="{{ hr.company }}">
            </div>
            <div class="form-group">
                <label for="profile_image">Update Profile Photo:</label>
                {% if profile.profile_image %}
                       <img src="{{ profile.profile_image.url }}" width="100" height="100" class="mb-2 rounded"><br>
                {% endif %}
                <input type="file" class="form-control-file" name="profile_image" id="profile_image"><br>
            
</div>

            <button type="submit" class="btn btn-primary">Update Profile</button>
        </form>
    </div>
</div>
{% endblock %}
